
<!DOCTYPE html>
<html lang="en-US" class="js-fonts-loaded">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Bolt Design System - Drupalcon 2019 Demo</title>
    <link rel="stylesheet" href="/build/bolt-global.css" media="all" />
  </head>
  <body>
    
    {% include "@bolt-components-button/button.twig" with {
      text: "Hello Drupalcon!!"
    } only %}

    {% include "@bolt-components-button/button.twig" with {
      text: "Learn More",
      size: "small",
      style: "secondary",
      border_radius: "full",
      icon: {
        name: "chevron-right",
        size: "small",
        background: "circle"
      }
    } only %}

    <script src="/build/bolt-global.js" async></script>
  </body>
</html>